<!-- vote_page.html : you can choose in booth vs online -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Choose Voting Method</h2>
    <form method="POST" action="{{ url_for('views.select_voting_method') }}">
        <div class="form-group">
            <label>Select Voting Method:</label>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="voting_method" value="in_booth" id="in_booth">
                <label class="form-check-label" for="in_booth">In Booth</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="voting_method" value="online_voting" id="online_voting">
                <label class="form-check-label" for="online_voting">Online Voting</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
